@page "{quizId}/{itemId}"
@model BackendLab01.Pages.Summary
@{
    ViewData["Title"] = "summary";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>Poprawne odpowiedzi:</h1>
@TempData["correctAnswers"]